.creare-business {
  background-color: #f8f7ff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.creare-business .div {
  background-color: #f8f7ff;
  height: 1145px;
  position: relative;
  width: 1440px;
}

.creare-business .frame {
  background-color: var(--white);
  height: 84px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.creare-business .group {
  height: 58px;
  left: 80px;
  position: absolute;
  top: 13px;
  width: 147px;
}

.creare-business .img {
  height: 46px;
  left: 66px;
  position: absolute;
  top: 6px;
  width: 82px;
}

.creare-business .frame-2 {
  height: 58px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 58px;
}

.creare-business .vector {
  height: 64px;
  left: -22897px;
  position: absolute;
  top: -8927px;
  width: 71px;
}

.creare-business .overlap-group {
  background-image: url(../../../static/img/vector-2.svg);
  background-size: 100% 100%;
  height: 58px;
  left: 0;
  position: absolute;
  top: 0;
  width: 58px;
}

.creare-business .ellipse {
  background-color: #331e6d;
  border-radius: 21.71px;
  height: 43px;
  left: 7px;
  position: absolute;
  top: 7px;
  width: 43px;
}

.creare-business .vector-2 {
  height: 56px;
  left: 1px;
  position: absolute;
  top: 1px;
  width: 56px;
}

.creare-business .group-2 {
  height: 29px;
  left: 15px;
  position: absolute;
  top: 15px;
  width: 27px;
}

.creare-business .navigation-bar {
  align-items: flex-start;
  background-color: #ffffff;
  display: inline-flex;
  gap: 24px;
  left: 522px;
  position: absolute;
  top: 30px;
}

.creare-business .frame-3 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 12px;
  position: relative;
}

.creare-business .img-2 {
  height: 24px;
  position: relative;
  width: 24px;
}

.creare-business .label-text {
  color: #3e3f59;
  font-family: "Red Hat Display", Helvetica;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 22px;
  position: relative;
  width: 80px;
}

.creare-business .text-wrapper {
  color: #5d5e7a;
  font-family: "Red Hat Display", Helvetica;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 22px;
  position: relative;
  width: 80px;
}

.creare-business .icon {
  height: 18px;
  left: 3px;
  position: absolute;
  top: 3px;
  width: 18px;
}

.creare-business .icons-arrow-back-wrapper {
  background-color: #ffffff;
  border-radius: 40px;
  height: 36px;
  left: 302px;
  overflow: hidden;
  position: absolute;
  top: 108px;
  width: 36px;
}

.creare-business .icons-arrow-back {
  height: 24px !important;
  left: 6px !important;
  position: absolute !important;
  top: 6px !important;
  width: 24px !important;
}

.creare-business .div-wrapper {
  align-items: flex-start;
  background-color: #ffffff;
  border-radius: 16px;
  display: flex;
  gap: 8px;
  height: 57px;
  left: 350px;
  padding: 16px 24px;
  position: absolute;
  top: 108px;
  width: 699px;
}

.creare-business .text-wrapper-2 {
  color: #1b1d35;
  font-family: "Red Hat Display", Helvetica;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 26px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.creare-business .overlap {
  border-radius: 16px;
  height: 933px;
  left: 317px;
  position: absolute;
  top: 174px;
  width: 732px;
}

.creare-business .frame-wrapper {
  align-items: center;
  background-color: var(--white);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  height: 933px;
  left: 0;
  padding: 32px;
  position: absolute;
  top: 0;
  width: 732px;
}

.creare-business .frame-4 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  margin-left: -4px;
  margin-right: -4px;
  position: relative;
}

.creare-business .frame-5 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 4px;
  position: relative;
  width: 100%;
}

.creare-business .text-wrapper-3 {
  align-self: stretch;
  color: #1b1d35;
  font-family: "Red Hat Display", Helvetica;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 22px;
  margin-top: -1px;
  position: relative;
}

.creare-business .frame-6 {
  align-items: center;
  align-self: stretch;
  background-color: #f8f7ff;
  border: 1px solid;
  border-color: #ebeaff;
  border-radius: 8px;
  display: flex;
  flex: 0 0 auto;
  gap: 12px;
  padding: 12px 16px;
  position: relative;
  width: 100%;
}

.creare-business .img-3 {
  height: 20px;
  position: relative;
  width: 20px;
}

.creare-business .text-wrapper-4 {
  color: #71718f;
  flex: 1;
  font-family: "Red Hat Display", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 22px;
  margin-top: -1px;
  position: relative;
}

.creare-business .frame-7 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
  width: 100%;
}

.creare-business .text-wrapper-5 {
  color: #1b1d35;
  flex: 1;
  font-family: "Red Hat Display", Helvetica;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 22px;
  margin-top: -1px;
  position: relative;
}

.creare-business .text-wrapper-6 {
  color: #71718f;
  font-family: "Red Hat Display", Helvetica;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 20px;
  margin-top: -1px;
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: fit-content;
}

.creare-business .frame-8 {
  align-items: flex-start;
  align-self: stretch;
  background-color: #f8f7ff;
  border: 1px solid;
  border-color: #ebeaff;
  border-radius: 8px;
  display: flex;
  gap: 12px;
  height: 80px;
  padding: 12px 16px;
  position: relative;
  width: 100%;
}

.creare-business .text-wrapper-7 {
  color: var(--neutraln-900);
  font-family: "Red Hat Display", Helvetica;
  font-size: 14px;
  font-weight: 600;
  height: 23px;
  left: 35px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 295px;
  white-space: nowrap;
  width: 646px;
}

.creare-business .frame-9 {
  align-items: center;
  background-color: var(--neutraln-050);
  border: 1px solid;
  border-color: var(--neutraln-200);
  border-radius: 8px;
  display: flex;
  gap: 12px;
  height: 44px;
  left: 30px;
  padding: 12px 16px;
  position: absolute;
  top: 324px;
  width: 671px;
}

.creare-business .text-wrapper-8 {
  color: var(--neutraln-600);
  flex: 1;
  font-family: "Red Hat Display", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 22px;
  margin-top: -2px;
  position: relative;
}

.creare-business .frame-10 {
  align-items: center;
  background-color: var(--neutraln-050);
  border: 1px solid;
  border-color: var(--neutraln-200);
  border-radius: 8px;
  display: flex;
  gap: 12px;
  height: 44px;
  left: 30px;
  padding: 12px 16px;
  position: absolute;
  top: 428px;
  width: 329px;
}

.creare-business .frame-11 {
  align-items: center;
  background-color: var(--neutraln-050);
  border: 1px solid;
  border-color: var(--neutraln-200);
  border-radius: 8px;
  display: flex;
  gap: 12px;
  height: 45px;
  left: 375px;
  padding: 12px 16px;
  position: absolute;
  top: 427px;
  width: 326px;
}

.creare-business .text-wrapper-9 {
  color: var(--neutraln-600);
  flex: 1;
  font-family: "Red Hat Display", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 22px;
  margin-top: -1.5px;
  position: relative;
}

.creare-business .frame-12 {
  align-items: center;
  background-color: var(--neutraln-050);
  border: 1px solid;
  border-color: var(--neutraln-200);
  border-radius: 8px;
  display: flex;
  gap: 12px;
  height: 38px;
  left: 26px;
  padding: 12px 16px;
  position: absolute;
  top: 481px;
  width: 333px;
}

.creare-business .text-wrapper-10 {
  color: var(--neutraln-600);
  flex: 1;
  font-family: "Red Hat Display", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 22px;
  margin-bottom: -3px;
  margin-top: -5px;
  position: relative;
}

.creare-business .frame-13 {
  align-items: center;
  background-color: var(--neutraln-050);
  border: 1px solid;
  border-color: var(--neutraln-200);
  border-radius: 8px;
  display: flex;
  gap: 12px;
  height: 44px;
  left: 30px;
  padding: 12px 16px;
  position: absolute;
  top: 377px;
  width: 671px;
}

.creare-business .text-wrapper-11 {
  color: var(--neutraln-900);
  font-family: "Red Hat Display", Helvetica;
  font-size: 14px;
  font-weight: 600;
  height: 19px;
  left: 30px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 542px;
  white-space: nowrap;
  width: 107px;
}

.creare-business .frame-14 {
  align-items: center;
  background-color: var(--neutraln-050);
  border: 1px solid;
  border-color: var(--neutraln-200);
  border-radius: 8px;
  display: flex;
  gap: 12px;
  height: 44px;
  left: 25px;
  padding: 12px 16px;
  position: absolute;
  top: 571px;
  width: 671px;
}

.creare-business .frame-15 {
  align-items: center;
  background-color: var(--neutraln-050);
  border: 1px solid;
  border-color: var(--neutraln-200);
  border-radius: 8px;
  display: flex;
  gap: 12px;
  height: 44px;
  left: 25px;
  padding: 12px 16px;
  position: absolute;
  top: 675px;
  width: 329px;
}

.creare-business .frame-16 {
  align-items: center;
  background-color: var(--neutraln-050);
  border: 1px solid;
  border-color: var(--neutraln-200);
  border-radius: 8px;
  display: flex;
  gap: 12px;
  height: 45px;
  left: 370px;
  padding: 12px 16px;
  position: absolute;
  top: 674px;
  width: 326px;
}

.creare-business .frame-17 {
  align-items: center;
  background-color: var(--neutraln-050);
  border: 1px solid;
  border-color: var(--neutraln-200);
  border-radius: 8px;
  display: flex;
  gap: 12px;
  height: 38px;
  left: 21px;
  padding: 12px 16px;
  position: absolute;
  top: 728px;
  width: 333px;
}

.creare-business .frame-18 {
  align-items: center;
  background-color: var(--neutraln-050);
  border: 1px solid;
  border-color: var(--neutraln-200);
  border-radius: 8px;
  display: flex;
  gap: 12px;
  height: 44px;
  left: 25px;
  padding: 12px 16px;
  position: absolute;
  top: 624px;
  width: 671px;
}

.creare-business .frame-19 {
  align-items: center;
  background-color: var(--purplep-600);
  border-radius: 12px;
  display: flex;
  gap: 8px;
  height: 32px;
  justify-content: center;
  left: 38px;
  padding: 12px 16px;
  position: absolute;
  top: 850px;
  width: 666px;
}

.creare-business .text-wrapper-12 {
  color: #ffffff;
  flex: 1;
  font-family: "Red Hat Display", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 26px;
  margin-bottom: -8px;
  margin-top: -10px;
  position: relative;
  text-align: center;
}

.creare-business .input-radio {
  height: 24px;
  left: 319px;
  position: absolute;
  top: 541px;
  width: 24px;
}

.creare-business .vector-wrapper {
  background-color: var(--purplep-600);
  border-radius: 9px;
  height: 18px;
  left: 3px;
  position: relative;
  top: 3px;
  width: 18px;
}

.creare-business .vector-3 {
  height: 7px;
  left: 5px;
  position: absolute;
  top: 6px;
  width: 9px;
}

.creare-business .text-wrapper-13 {
  color: var(--neutraln-900);
  font-family: "Red Hat Display", Helvetica;
  font-size: 14px;
  font-style: italic;
  font-weight: 600;
  height: 18px;
  left: 160px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 543px;
  white-space: nowrap;
  width: 206px;
}

.creare-business .frame-20 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 4px;
  height: 71px;
  left: 30px;
  position: absolute;
  top: 231px;
  width: 674px;
}

.creare-business .text-wrapper-14 {
  align-self: stretch;
  color: var(--neutraln-900);
  font-family: "Red Hat Display", Helvetica;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 22px;
  margin-top: -1px;
  position: relative;
}

.creare-business .frame-21 {
  align-items: center;
  background-color: var(--neutraln-050);
  border: 1px solid;
  border-color: var(--neutraln-200);
  border-radius: 8px;
  display: flex;
  gap: 12px;
  height: 39px;
  padding: 12px 16px;
  position: relative;
  width: 378px;
}

.creare-business .frame-22 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 4px;
  margin-bottom: -3.5px;
  margin-top: -3.5px;
  position: relative;
}

.creare-business .text-wrapper-15 {
  color: var(--neutraln-800);
  font-family: "Red Hat Display", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 22px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.creare-business .line {
  height: 16px;
  margin-bottom: -0.5px;
  margin-top: -0.5px;
  object-fit: cover;
  position: relative;
  width: 1px;
}

.creare-business .text-wrapper-16 {
  color: var(--neutraln-600);
  flex: 1;
  font-family: "Red Hat Display", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 22px;
  margin-bottom: -2.5px;
  margin-top: -4.5px;
  position: relative;
}
